body {
  padding: 200px;
  background-color: rgb(1, 31, 105);
  text-align: center;
  color: #fff;
}

/* div {
  text-align: center;
} */

button {
  height: 200px;
  width: 400px;
  font-size: 32px;
  font-weight: bold;
  background-color: darkblue;
  color: #fff;
  margin: 0 20px;
}

#increment-btn {
  background: green;
}

#decrement-btn {
  background: red;
}

#error {
  font-weight: 800;
  color: red;
  font-size: 42px;
}
